img {
    width: 200px;
}

#fantasma {
    width: 110px;
}

.itens-extremidades {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.itens-espacados {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.itens-centro {
    background-color: aqua;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.itens-direita {
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.amarelo {
    background-color: yellow;
}

.grupo-espacado {
    width: 960px;

    display: flex;
    justify-content: space-between;
}

.itens-vertical {
    height: 960px;
    background-color: aqua;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 50px;
}

.grupo-menor {
    width: 314px;
}

.grupo-maior {
    width: 518px;
}

.itens-extremidades-novo {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.roxo {
    background-color: #e8b6ff;
}