img {
    width: 200px;
}

#fantasma {
    width: 110px;
}

.itens-centro, .itens-espacados, .itens-direita, .itens-extremidades, .itens-extremidades-novo, .itens-vertical {
    margin-bottom: 50px;
    background-color: aqua;
    display: flex;
}

.itens-extremidades {
    justify-content: space-between;
}

.itens-espacados {
    justify-content: space-around;
}

.itens-centro {
    justify-content: center;
}

.itens-direita {
    justify-content: flex-end;
}

.amarelo {
    background-color: yellow;
}

.grupo-espacado {
    width: 960px;
    justify-content: space-between;
}

.itens-vertical {
    height: 960px;
    justify-content: space-between;
    flex-direction: column;
}

.grupo-menor {
    width: 314px;
}

.grupo-maior {
    width: 518px;
}

.itens-extremidades-novo {
    justify-content: space-between;
    margin: 0;
}

.roxo {
    background-color: #e8b6ff;
}